*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 400px;
    width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: top; */
}
#container i{
    color: #fff;
    font-size: 90px;
    position: absolute;
    /* z-index: 4; */
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%) scale(0) ;
    
    opacity: 0.8;
    /* transition: all 2s ease-in-out 0s; */
    transition: transform ease 0.4s;
}